@model OhDataManager.Entities.System.Organization

@{
    ViewBag.Title = "Организация";
    Layout = "~/Views/Administrator/_Layout.cshtml";
}

<div class="box box-primary">

  <div class="box-header with-border">
    <div class="row">
      <div class="col-xs-2">
        @Html.ActionLink(
          "Вернуться к списку",
          "Index",
          new {},
          new { @class = "btn btn-block btn-primary" })
      </div>
      <div class="col-xs-2">
        @Html.ActionLink(
          "Редактировать",
          "Edit",
          new {id = Model.Id},
          new { @class = "btn btn-block btn-warning" })
      </div>
    </div>
  </div>

  <div class="box-body">

    <dl class="dl-horizontal notification-details-list">

        <dt>@Html.DisplayNameFor(model => model.FullName):</dt>

        <dd>@Html.DisplayFor(model => model.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.OrganizationExternalId):</dt>

        <dd>@Html.DisplayFor(model => model.OrganizationExternalId)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreationTime):</dt>

        <dd>@Html.DisplayFor(model => model.CreationTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.ChangedTime):</dt>

        <dd>@Html.DisplayFor(model => model.ChangedTime) </dd>

    </dl>

</div>

</div>
