@model WebAppAuth.Entities.ClaimKindTemplate

@{
    ViewBag.Title = "Создать вид заявки";
    Layout = "~/Views/Employee/_Layout.cshtml";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()


  <section class="wrapper">

    <div class="container">

      <section class="content-header">

        <div class="row">
          <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
          </div>
        </div>

      </section>

      <section class="content">

        <div class="row">
          <div class="col-xs-12">

            <div class="box">

              <div class="box-header"></div>

              <div class="box-body">

                <div class="form-horizontal">

                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  <div class="form-group">
                    @Html.LabelFor(model => model.ClaimKindId, "Вид заявки", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                      @Html.DropDownList("ClaimKindId", null, htmlAttributes: new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ClaimKindId, "", new { @class = "text-danger" })
                    </div>
                  </div>

                  <div class="form-group">
                    @Html.LabelFor(model => model.Template, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                      @Html.EditorFor(model => model.Template, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.Template, "", new { @class = "text-danger" })
                    </div>
                  </div>

                  <div class="form-group">
                    @Html.LabelFor(model => model.CreationTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                      @Html.EditorFor(model => model.CreationTime, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.CreationTime, "", new { @class = "text-danger" })
                    </div>
                  </div>

                  <div class="form-group">
                    @Html.LabelFor(model => model.ChangedTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                      @Html.EditorFor(model => model.ChangedTime, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.ChangedTime, "", new { @class = "text-danger" })
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                      <input type="submit" value="Создать" class="btn btn-success" />
                      @Html.ActionLink("Назад", "Index", new{}, new {@class = "btn btn-primary"})
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </section>

    </div>

  </section>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
