<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/skins/@(AppConstants.UiStyleName)/logo.png"/>
    <!--[if IE]>
        <link rel="shortcut icon" href="~/Content/skins/@(AppConstants.UiStyleName)/logo.png" type="image/vnd.microsoft.icon"/>
    <![endif]-->

    <!-- Libs Styles -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/fontawesome/css/font-awesome.min.css">
    <!-- Select lib Styles-->
    <link rel="stylesheet" href="~/libs/select/css/select2.min.css">
    <!-- Mmenu lib Styles-->
    <link rel="stylesheet" href="~/libs/mmenu/css/jquery.mmenu.all.css">
    <!-- AdminLTE Styles-->
    <link rel="stylesheet" href="~/libs/adminlte/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/dataTables.bootstrap.css">
    <!-- Data Range Picker -->
    <link rel="stylesheet" href="~/libs/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/libs/iCheck/all.css">
    <!--Hamburger styles-->
    <link rel="stylesheet" href="~/libs/hamburger/css/hamburgers.min.css">

    <!-- Custom Style -->
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/css/fonts.css">
    <!--Custom styles-->
    <link rel="stylesheet" href="~/Content/skins/@(AppConstants.UiStyleName)/css/main.css">
    <!--Media styles-->
    <link rel="stylesheet" href="~/Content/skins/@(AppConstants.UiStyleName)/css/media.css">
    <!--Custom Menu styles-->
    <link rel="stylesheet" href="~/Content/skins/@(AppConstants.UiStyleName)/css/_mmenu.css">

</head>

<body class="tm-isblog">

<div id="my-page">

    <div class="navbar">

        <button class="hamburger hamburger--collapse hidden-md hidden-lg" type="button">
            <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        </button>

        <div class="logo">
            <a href="@AppConstants.PublicSiteUrl">
                <img src="~/Content/skins/@(AppConstants.UiStyleName)/logo.png">
            </a>
        </div>

        <nav class="top-menu hidden-xs hidden-sm">

            <ul class="horizontal">
                <li>@Html.ActionLink("Главная", "Index", "Administrator", null, new { @class = "scroll" })</li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false"
                       href="#">Организации<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Организации", "Index", "Organizations")</li>
                        <li>@Html.ActionLink("Подразделения", "Index", "OrganizationSubdivisions")</li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false"
                       href="#">Ролевая модель<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Пользователи", "ManageUserRoles", "Administrator")</li>
                        <li>@Html.ActionLink("Сотрудники", "Index", "Employees")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false"
                       href="#">Справочники<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Роли", "RolesList", "Administrator")</li>
                        <li>@Html.ActionLink("Должности", "Index", "Positions")</li>
                        @if (AppConstants.ClaimsModuleAllowed)
    {
                    <li>@Html.ActionLink("Виды заявок", "Index", "DictClaimKinds")</li>
                    <li>@Html.ActionLink("Шаблоны заявок", "Index", "ClaimKindTemplates")</li>
}
                    </ul>
                </li>
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>

        </nav>

    </div>

    <section class="wrapper">

        <div class="container">

            <section class="content-header">

                <div class="row">
                    <div class="col-md-12">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>

            </section>

            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>

            </section>

        </div>

    </section>

</div>

<!-- DataTables -->
<script src="~/Scripts/datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<!-- Libs Scripts -->
<!-- Jquery -->
<script src="~/libs/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap -->
<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/libs/datatables/jquery.dataTables.js"></script>
<script src="~/libs/datatables/dataTables.bootstrap.js"></script>
<!-- Data Range Picker -->
<script src="~/libs/daterangepicker/daterangepicker.js"></script>
<!-- SlimScroll -->
<script src="~/libs/slimScroll/jquery.slimscroll.js"></script>
<!-- FastClick -->
<script src="~/libs/fastclick/fastclick.js"></script>
<!-- iCheck 1.0.1 -->
<script src="~/libs/iCheck/icheck.min.js"></script>
<!-- Mmenu -->
<script src="~/libs/mmenu/js/jquery.mmenu.all.js"></script>
<!-- Select script -->
<script src="~/libs/select/js/select2.full.min.js"></script>
<script src="~/libs/select/js/ru.js"></script>
<!-- Input Mask -->
<script src="~/libs/inputmask/js/jquery.inputmask.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
<!-- Jquery Validation-->
<script src="~/libs/jquery.validation/js/jquery.validate.min.js"></script>
<script src="~/libs/jquery.validation/js/messages_ru.min.js"></script>
<script src="~/libs/jquery.validation/js/additional-methods.min.js"></script>
<!-- Admin LTE -->
<script src="~/libs/adminlte/js/adminlte.min.js"></script>

<!-- Custom Scripts -->
<!-- Reports -->
<script src="~/Scripts/report.js"></script>
<!-- Page Script -->
<script src="~/Scripts/admin.js"></script>
<!-- Custom JS -->
<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/auth.js"></script>

</body>
</html>
